{include file='themes/main/header.html' web_root='..' subtitle='Equipment'}

{if $songs}
<h3>My Parts</h3>
<ul>
{foreach from=$songs item=song}
    <li>
        <a href="users/my-parts.php?song_id={$song.song_id}">
            {$song.song_title} {if $song.artist_name}by {$song.artist_name}{/if}
        </a>
        {if $song.num_user_parts}({$song.num_user_parts}/{$song.num_parts} parts){/if}
    </li>
{/foreach}
</ul>

{else}
    <p>
        No songs, yet.
    </p>
{/if}

{include file='themes/main/footer.html'}