{include file='themes/main/header.html' web_root='..' subtitle='Sudo'}

<p>
    {if $current_user}
        Logged in as {$current_user.user_name}.
    {else}
        Not logged in.
    {/if}
</p>

{if $users}
    <table>
        <thead>
            <tr>
                <th></th>
                {foreach from=$users[0] key=key item=value}
                <th>{$key}</th>
                {/foreach}
            </tr>
        </thead>
        {foreach from=$users item=user}
        <tr>
            <td>
                <a href="sudo/impersonate.php?id={$user.user_id}">Impersonate</a>
            </td>
            {foreach from=$user item=$value}
            <td>{$value}</td>
            {/foreach}
        </tr>
        {/foreach}
    </table>
{else}
    <p>No users exist.</p>
{/if}

<a href="sudo/fb-login.php">Fake FB Login</a>

{include file='themes/main/footer.html'}