{include file='themes/main/header.html' web_root='..' subtitle='Equipment'}

<h3>Parts for {$song.song_title}{if $song.artist_name} by {$song.artist_name}{/if}</h3>
<form method="post" action="parts/edit.php?song_id={$song.song_id}">
    <input type="submit" name="save" value="Save (Hidden)" style="display:none;">
    <table>
        <thead>
        <tr>
            <th>Instrument</th>
            <th>Description</th>
            {if $parts}
            <th><!-- delete --></th>
            {/if}
        </tr>
        </thead>
        <tbody>
        {foreach from=$parts key=key item=part}
        <tr>
            <td>
                <input type="hidden" name="parts[{$key}][equipment_id_old]" value="{$part.equipment_id}">
                <select name="parts[{$key}][equipment_id]">
                    {foreach from=$equipment_types item=type}
                    <option value="{$type.equipment_id}"{if $part.equipment_id == $type.equipment_id} selected="selected"{/if}>{$type.equipment_name|escape:'html'}</option>
                    {/foreach}
                </select>
            </td>
            <td>
                <input type="hidden" name="parts[{$key}][description_orig]" value="{$part.description|escape:'html'}">
                <input type="text" name="parts[{$key}][description]" value="{$part.description|escape:'html'}" placeholder="Description" size="40">
            </td>
            <td>
                <input type="hidden" name="parts[{$key}][part_id]" value="{$part.part_id}">
                <button type="submit" name="delete" value="{$part.part_id}">Delete</button>
            </td>
        </tr>
        {/foreach}

        <!-- Add -->
        <tr>
            <td>
                <select name="new[equipment_id]">
                    <option value="" selected="selected">-- Choose type</option>
                    {foreach from=$equipment_types item=type}
                    <option value="{$type.equipment_id}">{$type.equipment_name}</option>
                    {/foreach}
                </select>
            </td>
            <td>
                <input type="text" name="new[description]" value="{$new.description|escape:'html'}" placeholder="Description" size="40">
            </td>
            {if $parts}
            <td><!-- Delete --></td>
            {/if}
        </tr>
        </tbody>
    </table>
    <p>
        <input type="submit" name="save" value="Save">
    </p>
</form>

{include file='themes/main/footer.html'}
