<!DOCTYPE html>
<html>
<head>
    <base href="{$web_root|default:'.'}">
    <title>Jam Sessions{if $subtitle|default:''} :: {$subtitle}{/if}</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>

<p>
    <a href=".">HOME</a> |
    <!--<a href="sessions/">Jam Sessions</a> |-->
    <a href="songs/edit.php">Manage Songs</a> |
    <a href="equipment/edit.php">Manage Equipment</a> |
    <!--<a href="friends/">Invite Friends</a> |-->
    <a href="users/edit.php">Personal Info</a> |
    <a href="logOut.php">Log Out</a>
</p>
