<!DOCTYPE html>
<html>
<head>
    <base href="{$web_root|default:'.'}">
    <title>Jam Sessions{if $subtitle|default:''} :: {$subtitle}{/if}</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>

<p>
    <a href=".">HOME</a> |
    <!--<a href="sessions/">My Jam Sessions</a> |-->
    <a href="users/my-songs.php">My Songs</a> |
    <a href="users/my-equipment.php">My Equipment</a> |
    <!--<a href="users/my-friends.php">My Friends</a> |-->
    <a href="users/my-info.php">My Info</a> |
    <a href="logOut.php">Log Out</a>
</p>
