table, th, td {
    border: 1px solid #116699;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 3px 5px;
}

.footer {
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #666666;
    z-index: -1;
}

.error {
    color: #DD1111;
}
