{include file='themes/main/header.html' web_root='..' subtitle='Songs'}

<input type="submit" name="save" value="Save (Hidden)" style="display:none;">
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Band</td>
            <td>Key</td>
            <td>Year</td>
            {if $songs}
            <td><!-- delete --></td>
            {/if}
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<p>
    <input type="submit" name="save" value="Save">
</p>

{include file='themes/main/footer.html'}