<!DOCTYPE html>
<html>
<head>
<base href="..">
<title>Jam Sessions :: Songs</title>
<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
<input type="submit" name="save" value="Save (Hidden)" style="display:none;">
<table>
    <thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<p>
    <input type="submit" name="save" value="Save">
</p>
</body>
</html>
